@model IEnumerable<ProjetoBackend.Models.ServicoVenda>

@{
    ViewData["Title"] = "Vendas de Serviços";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered border-info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Servico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venda)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServicoVendaId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ServicoVendaId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>