@model IEnumerable<ProjetoBackend.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1 class="fw-lighter">Compras</h1>

<div class="row">
    <div class="col-12 col-md-4">
        <p>
            <a asp-action="Create" class="btn btn-lg btn-secondary">Adicionar</a>
        </p>
    </div>

    <div class="col-12 col-md-4"></div>

    <div class="col-12 col-md-4">
        <form asp-action="Search" method="get">
            <input class="form-control-sm border-primary" type="text" name="nome" placeholder="Buscar compra..." />
            <button type="submit" class="btn btn-lg btn-secondary"><ion-icon name="search"></ion-icon>Buscar</button>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered border-info">
        <thead>
            <tr>
                <th class="bg-primary text-light">
                    @Html.DisplayNameFor(model => model.FornecedorId)
                </th>
                <th class="bg-primary text-light">
                    @Html.DisplayNameFor(model => model.DataCompra)
                </th>
                <th class="bg-primary text-light">
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th class="bg-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CompraId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CompraId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CompraId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>